<div id="home-background">

    <!--    _____________________________________________MAIN NAV_____________________________________________-->
    <nav>
        <img src="../../assets/logo-white-01.png">
        <ul>
            <li><a class="white" href="#">Login</a></li>
            <li><a class="white" href="#">Home</a></li>
            <li><a class="white" href="#">News</a></li>
            <li><a class="find-teacher white" href="contact.asp">Find Your Class</a></li>
            <li><a class="find-teacher white" href="contact.asp">Menu</a></li>
        </ul>
    </nav>


    <!--    ____________________________________________BODY OF PAGE____________________________________________-->
    <section class="body-content">
        <div class="header-block">
            <h1 class="white"> Communicate with your classroom <br> like never before. </h1>
            <h1 class="white"> Talking with your students during the school day is easy, but what about when they go home? Stuff happens. Students forget homework. Parents have questions. Teachers get stressed. Bulletin helps alleviate a bit of that stress. Sign up your class below. </h1>
            <div class="create-box">
               
                <div class="create-box-text-container">
                    <h3 class="white"> Bulletin is free to use. <br> Enter your class name to sign up! </h3>
                </div>
            
                
                <div class="create-box-input-container">        
                <input placeholder="ex: Miss Paige's Class">
                
                <button> Create a New Class </button>
                </div>
            </div>
        </div>
    </section>

    <!--    _____________________________________________FOOTER_____________________________________________-->
<!--
    <footer>
        
        
    </footer>
-->
</div>