
<body>
  <h1>TESTING TESTING TESTING</h1>
</body>

<form ng-submit="createNewClass()">
  <input ng-model="newUser.firstName" placeholder="First Name">
  <input ng-model="newUser.lastName" placeholder="Last Name">

  <input ng-model="newUser.email" placeholder="Email">

  <input ng-model="newUser.password" placeholder="Password">

  <button ng-click="postNewUser()">Create New User</button>


</form>



<form ng-submit="login()">
  <h1>Login</h1>
  <input type="text" ng-model="loginUser.email" placeholder="Email">
  <input type="text" ng-model="loginUser.password" placeholder="Password">
  <button ng-click="login()"> Login </button>
</form>
