<div class="lobby-container">

  <div>
    <img src="../../assets/logo-white-01.png">

    <hr>
    <h3 class="white">  Classroom Notes </h3>
    <div class="communities">

      <ul>
        <li class="list student-name"> YOUR STUDENTS </li>
        <div id="hidden-scroll">
          <div id="scrolling-div">
            <button class="add-students" ng-click="addStudents()"> Add Students  <i class="plus fa fa-plus"></i> </button>
            <li ng-repeat="student in usersInClass">
              <button ng-click="lookAtStudent(student)" class="student-name"> {{student.firstName}} {{student.lastName}} </button>
            </li>
          </div>
        </div>
        <li>
          <button ng-click="changeSettings()" class="settings">
            <i class="fa fa-lg fa-cogs"></i></button>
        </li>

    </div>
  </div>

</div>

<div class="right-body-main">
  <header>
    <h1>Welcome to your class! </h1>
  </header>
  <div class="right-body-both">
    <div scroll-glue="glued" ng-class="rightBodyClass" ng-click="hideSidebar()">

      <ul>



        <li class="list-item" ng-repeat="message in messages">

          <div class="">
            <div class="image-block" back-img="{{message.sender.image}}"> </div>

            <div class="message-block">
              <span>
                <h4>{{message.sender.firstName}} {{message.sender.lastName}}</h4>
                <h5> {{message.date}} </h5>
              </span>

              <div id="message-content-holder">
                <p> {{message.content }}</p>
              </div>
            </div>

            <div class="star-block">
              <!-- <span> <i ng-show="filledInStar" ng-click="starMessage($index)" ng-class="" class="star fa-lg fa fa-star-o"></i> </span>
              <span> <i ng-hide="filledInStar" ng-click="starMessage($index)" class="star fa-lg fa fa-star"></i> </span> -->

            </div>
          </div>


        </li>
      </ul>


    </div>

    <div ng-class="rightBodyBottomClass">
      <form ng-submit="postNewMessage(messageText, currentClassId, currentUserId)">
        <input rows="1" msd-elastic id="message-input" type="text" contenteditable="true" placeholder="This is my nice input box" ng-model="messageText">
        </input>
        <br>
        <button ng-class="submitClass" type="submit"> Click to Send</button>



      </form>
    </div>

  </div>

  <div ng-class="rightBodySideBarClass">
        <div class="student-pull-up">
    <div class="image-holder">
      <img src="{{studentToPullUp.image}}">
    </div>


      <h1> {{studentToPullUp.firstName}} {{studentToPullUp.lastName}}</h1>
      <p> <strong> Student Email: </strong> {{studentToPullUp.email}}</p>
      <p> <strong> Student ID: </strong> {{studentToPullUp.id}}</p>
      <button class="submit" ng-click="deleteStudent(studentToPullUp.id)">Delete Student </button>
    </div>

  </div>


</div>

<!-- DROPZONE -->


<!-- DROPZONE -->

<script type="text/ng-template" id="addStudents">
<div id="add-students">
  <h1> Add Students to Your Class </h1>
  <form ng-model="myForm" ng-submit="addNewStudent(newStudent)">
    <input ng-model="newStudent.firstName" placeholder="First Name">
    <input ng-model="newStudent.lastName" placeholder="Last Name">

    <input ng-model="newStudent.email" placeholder="Email">

    <input ng-model="newStudent.image" placeholder="imageUrl">

    <h3> Note: Student Password by Default will be Firstname.Lastname </h3>

    <button id="add-one" class="submit" type="submit">Add Student</button>
  </form>

  <button id="add-two" class="submit" ng-click="closeModal()"> Done </button>
</div>

</script>


<script type="text/ng-template" id="changeSettings">
  <h1> Update Settings</h1>

  <label>Allow Students to Message in Lobby
    <span>
      <input type="checkbox" class="ios-switch blue  bigswitch" checked />
      <div>
        <div></div>
      </div>
    </span>

  </label>
  <label>Allow Students to Direct messagesInClass
    <input type="checkbox" class="ios-switch blue  bigswitch" checked />
    <div>
      <div></div>
    </div>
  </label>

</script>
