<div class="lobby-container">

  <div>
    <img src="../../assets/logo-01.png">

    <hr>
    <h3 class="white"> Miss. Paige's Class</h3>
    <div class="communities">

      <ul>
        <li class="list"> STUDENTS </li>
        <div id="hidden-scroll">
          <div id="scrolling-div">
            <li ng-repeat="student in usersInClass">
              <button ng-click="lookAtStudent(student)"> <i class="fa fa-minus-square-o"></i>{{student.firstName}} {{student.lastName}} </button>
            </li>
          </div>
        </div>
        <li>
          <button>
            <span> + </span>...</button>
        </li>

    </div>
  </div>

</div>

<div class="right-body-main">
  <header>
    <h1>TEST TEST TEST</h1>
  </header>
  <div scroll-glue="glued" class="right-body" id="right-body">

    <ul>

      <li scroll-glue="glued" ng-repeat="message in messages"> {{message.content}} DATE: {{message.date}} SENDER: {{message.sender.firstName}}

      <li ng-repeat="message in messages">
        <div class="">
        <h4>{{message.sender.firstName}} {{message.sender.lastName}}</h4>
        <h5> {{message.date}} </h5>
        <p> {{message.content }}</p>
        </div>
        <div back-img="{{message.sender.image}}"> </div>


        <span> <i ng-show="filledInStar" ng-click="starMessage($index)" ng-class="" class="star fa-lg fa fa-star-o"></i> </span>
        <span> <i ng-hide="filledInStar" ng-click="starMessage($index)" class="star fa-lg fa fa-star"></i> </span>
      </li>
    </ul>
  </div>

  <div ng-hide="rightBodySidebar" class="right-body-sidebar">
    <div class="student-pull-up">
      <div class="image-holder">
          <img src="{{studentToPullUp.image}}" >
      </div>
       <h1> {{studentToPullUp.firstName}} {{studentToPullUp.lastName}}</h1>

    </div>

  </div>

<div class="right-body-bottom">

  <input type="text" placeholder="This is my nice input box" ng-model="messageText">
  <br>
  <button ng-click="postNewMessage(messageText, currentClassId, currentUserId)"> Click to Submit</button>
  <button ng-click="getUsers()"> This is button two</button>
  <button ng-click="addStudents()"> ADD STUDENTS </button>

</div>
</div>

  <!-- DROPZONE -->


  <!-- DROPZONE -->

  <script type="text/ng-template" id="addStudents">
    <h1> Add Students to Your Class </h1>
    <form ng-model="myForm" ng-submit="addNewStudent(newStudent)">
      <input ng-model="newStudent.firstName" placeholder="First Name">
      <input ng-model="newStudent.lastName" placeholder="Last Name">

      <input ng-model="newStudent.email" placeholder="Email">

      <input ng-model="newStudent.image" placeholder="imageUrl">

      <h3> Note: Student Password by Default will be Firstname.lastname </h3>

      <button class="ngdialog-button ngdialog-button-primary" type="submit">Add Student</button>
    </form>

    <button class="ngdialog-button ngdialog-button-primary" ng-click="closeModal()"> Done </button>


  </script>
