<div class="lobby-container">

    <div>
      <img src="../../assets/logo-01.png">

        <hr>
        <h3 class="white"> Miss. Paige's Class</h3>
        <div class="communities">

          <ul>
            <li  class="list"> COMMUNITIES </li>
            <li> <button>Classroom </button> </li>
            <li ng-repeat="community in communities"> <button>{{community}} </button></li>
            <li> <button> <span> + </span>...</button></li>
          </ul>

          <ul>
            <li  class="list"> DIRECT MESSAGES </li>
            <li> <button>Classroom </button> </li>
            <li ng-repeat="student in recentMessages"> <button>{{student}} </button></li>
            <li> <button> <span> + </span>...</button></li>
          </ul>
        </div>
    </div>

</div>

<div class="right-body-main">
<div  scroll-glue="glued" class="right-body" id="right-body">

  <ul>
    <li>{{test}}</li>
    <li>test</li>
    <li>test</li>
    <li ng-repeat="message in messages"> {{message.content}} DATE: {{message.date}}</li>
  </ul>
</div>
<input type="text" placeholder="This is my nice input box" ng-model="messageText">
<br>
<button ng-click="postNewMessage(messageText)"> Click to Submit</button>
<button ng-click="getUsers()"> This is button two</button>
</div>
